* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 50px auto;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.box-primo{
    background-image: url(../img/1.webp);
    background-size: cover;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    float: left;
    position: relative;
    margin: 2px;
}


.box {
    background-color: brown;    
    background-size: cover;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    float: left;
    position: relative;
    margin: 2px;
}

.box:hover {
    background-color: yellow;
    cursor: pointer;
}

.star {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 30px;
    color: black;
    padding: 5px 20px;
    background-color: white;
}

.star:hover {
    color: red;
}

