* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.box {
    width: calc(100% / 3 - 30px);
    float: left;
    margin: 50px 10px;
    position: relative;
}

.box img {
    width: 100%;
    height: 80%;
}

.effetto-hover {
    display: none;
}

.box:hover .origin {
    display: none;
}

.box:hover .effetto-hover {
    display: block;
}

.descrizione-prodotto {
    height: 60px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.uppercase {
    text-transform: uppercase;
}

.pastello {
    background-color: lightgreen;
}

.sconto {
    color: red;
    font-weight: bold;
    padding-top: 10px;
}

.cuore {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 30px;
    color: black;
    padding: 5px 20px;
    background-color: white;
}

.cuore:hover {
    color: red;
}